@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ap-blue: 30, 58, 138;
  --ap-amber: 251, 191, 36;
  --ap-slate: 31, 41, 55;
  --ap-cyan: 34, 211, 238;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(var(--ap-slate));
}

.link-underline {
  position: relative;
}

.link-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: theme('colors.ap-amber');
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hero-bg-with-image {
  background-color: rgb(var(--ap-slate));
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<image-tokens-bardstorage://RESPONSE_DATA:00063e12b27eaa87088e889e030dbd60ee6a5e38dae9d633:6522301131154563821782200375a004a60:0:>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
